</div>
<div class="footer-padding"></div>
<footer id="footer">
            <div class="container">
                <div class="copyright">
                    &copy; <span id='footer_copyright_year'></span> Copyright&nbsp;
                    <strong><span><a href="https://abdevweb.com" target="_blank">AbDevWeb</a></span></strong>
                </div>
                <div class="credits">
                    Made with&nbsp;
                    <a
                        href='https://buymeacoffee.com/abdevweb'
                        target='_blank'
                        title='Click here to offer me a coffee.'
                        class='footer-icon'
                    >
                        ☕
                    </a>
                    &nbsp;&&nbsp;
                    <a
                        href="https://github.com/Baha-Abdelatif/"
                        target='_blank'
                        title='Click here to visit my Github page.'
                        class='footer-icon'
                    >
                        ❤️
                    </a> <br/>
                    by Abdelatif BAHA
                </div>
            </div>
        </footer>
</div>
</body>
<script>
document.getElementById('footer_copyright_year').innerText = new Date().getFullYear();
</script>

</html>